Django==4.2.4
django-filter==23.2
djangorestframework==3.14.0
djoser==2.2.0
Pillow==10.0.0
gunicorn==21.2.0
python-docx==0.8.11
reportlab==4.0.4
drf-extra-fields==3.7.0
psycopg2-binary==2.9.7
fpdf==1.7.2